@keyframes slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -100%;
  }
}

.sidebar-links {
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  color: rgb(104, 104, 105);
}

.sidebar-links > div {
  padding-top: 10px;
}
