.main-footer {
  background-color: rgb(36, 36, 36);
  font-size: 16px;
  color: rgb(255, 255, 255);
  border-top: 1px solid rgb(36, 36, 36);
  align-items: center;
  // padding: 20px;
  position: fixed;
  left: 0;
  z-index: 9999;
  bottom: 0;
  height: 11%;
  width: 100%;
  overflow: auto;
}

.main-navbar-info {
  padding: 1rem;
}
.song-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.children {
  display: block;
  padding: 20px;
  height: 60px;
  width: 100%;
}

.marquee {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: -100%;
  }
}
