.main-page {
  color: #ffffff;
  // width: -webkit-fill-available;
  top: 0;
  // height: 100%;

  padding: 0 2% 0% 2%;

  // align-items: center;
}

.browse-container {
  // padding: 0% 0% 0% 12%;
  //   padding-left: 0px;
}

.new-releases {
  // background: linear-gradient(rgb(49, 49, 49), rgb(29, 29, 29) 30%);

  // padding-top: 2rem;
  // margin-bottom: 15%;
}
