.main-browse {
  color: #ffffff;
  //   width: 1440px;
  //   display: flex;
  //   margin: 0 auto;
  //   align-items: right;
  //   background: linear-gradient(rgb(44, 46, 49), rgb(29, 29, 28) 30%);
}
.browse-navbar {
  //   background: linear-gradient(rgb(49, 49, 49), rgb(30, 30, 30) 70%);
  max-width: 100%;
  text-indent: 2rem;

  //   height: 25%;
  border: none;
}

.browse-title {
  margin-left: 10%;
  background: linear-gradient(rgb(49, 49, 49));
}
