.main-page {
  color: #ffffff;
  width: -webkit-fill-available;
  top: 0;
  height: 100%;
  padding: 5% 10% 0% 12%;

  //   align-items: center;
  background: linear-gradient(rgb(49, 49, 49), rgb(29, 29, 29) 10%);
}

.browse-container {
  // padding: 0% 0% 0% 12%;
  //   padding-left: 0px;
}

.new-releases {
  padding-top: 2rem;
  // margin-bottom: 15%;
}
